/* Base styles for the Cart Modal */
.cart-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  z-index: 100000;
  padding: 1rem;
  color: black;
}

/* Header styles */
.cart-header {
  border-bottom: solid rgb(206, 206, 206) 1px;
  padding-bottom: 1rem;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

/* Body styles */
.cart-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 50vh;
  overflow-y: scroll;
}

.cart-body::-webkit-scrollbar {
    display: none;
  }

.cart-second-column > p {
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  font-size: medium;
  font-weight: 300;
  color: rgb(4, 4, 4);
  font-style: italic;
}

.cart-body > ul {
  width: 100%;
  list-style-type: none;
}

.cart-body > ul > li {
  display: inline-flex;
}

.cart-first-column {
  max-width: 50%;
  padding: 0 1rem;
  font-size: medium;
  font-weight: 400;
  text-align: left;
}

.cart-second-column {
  max-width: 50%;
  padding: 0 1rem;
  text-align: center;
}

.cart-first-column p,
.cart-second-column p {
  margin: 0;
  font-size: 1em;
}

/* Footer styles */
.cart-footer {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  border-top: solid rgb(206, 206, 206) 1px;
  padding: 0.5rem 1rem;
}

.cart-footer-accept-button {
  background-color: #ff385c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  align-self: flex-end;
}

.cart-footer-close-button {
  background: #ff385c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  align-self: flex-end;
}

.cart-footer button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 480px) {
  .cart-container {
    width: 90%;
    padding: 10px;
  }

  .cart-footer button {
    margin: 5px 0;
  }
}
